.ul_menu {
	display:inline;
	z-index:15;
	position: absolute;
	margin-left: -20px;
	margin-top: 4px;
}

.ul_menu ul {
	padding:0;
}

.ul_menu li {
	list-style:none; 
	float:left;
	width:100px;
	-webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
} 

.ul_menu li li {
	width:170px;
	margin-left:5px;
}
	
.ul_menu li a {
	display:block;
	text-decoration:none;
	font-size:120%;
	font-weight: bold;
	height:1.8em;
	line-height:1.8em;
	text-align:center;
	margin-left: 2px;
	background-color: #228B22;
	color: white;
	position:relative;
	opacity: 1.2;
	transition:  .3s;
	
	
}

.ul_menu li li a {
	margin-top:1px;
}

.ul_menu li:hover>a {
	color:white;
	background-color: #800000;
}

.ul_menu li ul	{
	display:none;
}

.ul_menu li:hover ul {
	display:block; 
}

.ul_menu li:first-child a{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.ul_menu li:last-child a{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.ul_menu ul:first-of-type a {
	border-radius:0;
}		